* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
}

.calc-body {
    background-color: #3a4452;
    padding: 1.25rem;
    border-radius: 0.65rem;
}

.calc-body input {
  
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 0.65rem;
    background: transparent;
    font-size: 1.25rem;
    color: #fff;
    cursor: pointer;
    margin: 0.65rem;
}

.result {
    display: flex;
    justify-content: flex-end;
    margin: 1.25rem 0;
}

.result input {
    text-align: right;
    flex: 1;
    font-size: 2.8rem;
    box-shadow: none;
    cursor: default;
}

input.equal {
    width: 9rem;
}